.padre{
    background-color: #002868;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}
.bandera1
{
    background-color: #FFFFFF;
    height: 42vh;
    width: 30vw;
    margin-right: 15vh;
    align-self: flex-start;
}
.bandera2{
    background-color: #FFFFFF;
    height: 42vh;
    width: 63vw;
    display: flex;
    align-self: flex-start;
}
.bandera3
{
    background-color: #FFFFFF;
    height: 42vh;
    width: 30vw;
    margin-right: 15vh;
    align-self: flex-end;
}
.bandera4
{
    background-color: #FFFFFF;
    height: 42vh;
    width: 63vw;
    display: flex;
    align-self: flex-end;
}
.rojo1{
    width: 26vw;
    height: 36vh;
    background-color: darkred;
}

.rojo2{
    width: 90vw;
    height: 36vh;
    margin-left: 10vh;
    background-color: darkred;
}

.rojo3{
    width: 26vw;
    height: 36vh;
    margin-top: 8vh;
    background-color: darkred;
}

.rojo4
{
    width: 90vw;
    height: 36vh;
    margin-left: 10vh;
    margin-top: 8vh;
    background-color: darkred;
}