body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    background-image: linear-gradient( 109.6deg,  rgba(247,253,166,1) 11.2%, rgba(128,255,221,1) 57.8%, rgba(255,128,249,1) 85.9% );
    font-family: 'Noto Serif Ahom', serif;
    width: 97vw;
    height: 97vh;
    display: grid;
    place-items: center;
}
.contenedor{
    display: grid;
    gap: 35px 35px;
    grid-template-columns: auto auto auto;
    padding: 20px;
    width: 90vw;
    height: auto;
    border-radius: 20px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -9px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
}
.contenedor-hijo{
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 20px #ffffff,
                0px 0px 10px #c5c5c5;
    border-radius: 17px;
    padding: 25px;
    font-size: 15px;
    text-align:start;
}
.contenedor-escritura {
    margin-top: 15px;
    border: none;
    border-radius: 15px;
    padding: 7px;
    color:rgb(105, 105, 105);
    background-color: #e8e8e8;
    -webkit-box-shadow: 3px 3px 6px #ffffff,
                0px 0px 10px #c5c5c5;
    box-shadow: 3px 3px 6px #ffffff,
                0px 0px 10px #c5c5c5;
    font-family: 'Noto Serif Ahom', serif;
    font-size: 15px;
    font-weight: bold;
    max-width: 200px;
}  
.contenedor-escritura:focus {
    outline-color: white;
    place-content: "Enter your message!";
}
/* .span-respueta{
    margin: 15px;
    font-size: 18px;
    font-weight: bold;
    max-width: 200px;
} */
.boton-enviar {
    cursor: pointer;
    margin: 20px;
    gap: 10px;
    font-family: 'Noto Serif Ahom', serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    color:rgb(105, 105, 105);
    background-color: #e0e8ef;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: rgba(255, 255, 255, 0.333);
    border-radius: 40px 40px 40px 40px;
    padding: 7px;
    -webkit-transform: translate(0px, 0px) rotate(0deg);
        -ms-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%);
            box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%);
} 
.boton-enviar:hover {
    color: #516d91;
    background-color: #E5EDF5;
    -webkit-box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
    box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
}  
.boton-enviar:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}
@media (max-width: 600px){
    body{
        color: #ffffff;
    }
    .contenedor-hijo{
        grid-column: 1 / span 3;
    }
    .contenedor{
        grid-template-columns: auto auto auto;
    }
}